$violet-light: #9bacd9;
$violet: #8594bc;
$violet-dark: #505c7f;
$violet-transparent: rgba(133, 148, 188, 0.17);

$white: #ffffff;
$floral-white: #fafafa;
$floral-white-transparent: rgba(250, 250, 250, 0.6);

$blue: #006494;
$blue-light: #0086c7;

$gray-dark: #333333;
$gray: #aaaaaa;
$gray-context: #6d6d6d;

$gray-light: #cccccc;
$gray-lightest: #f5f5f5;

$black: #1e1e1e;
$black-light: #242425;

$danger: #ff4d4f;
$warning: #ffb74d;
