@import './colors.scss';

.fieldset-large legend {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 0;
  margin-left: 140px;
  padding: 0 20px;
  font-weight: bolder;
  width: auto;
  border: none;
}

.fieldset-large {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 25px 40px 40px;
  border: 1px solid $gray-dark;
  border-radius: 20px;
}

.grid-one {
  display: grid;
  grid-template-columns: 180px;
  grid-gap: 20px;
  align-items: start;
}

.grid-four {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr) 30px) 1fr;
  grid-row-gap: 20px;
  align-items: start;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr) 30px) 1fr;
  grid-row-gap: 20px;
  align-items: start;
}

.grid-six {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr) 30px) 1fr;
  grid-row-gap: 20px;
  align-items: start;
}
