@import './colors.scss';

.field {
  display: flex;

  &-block {
    width: 100%;

    div {
      width: 100%;
    }

    &_title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      color: $violet;
      margin-bottom: 4px;
    }

    &_button {
      background-color: transparent;
      color: $violet;
      outline: none;
      margin-left: 40px;
      border: 0;

      &:hover {
        cursor: pointer;
        color: #747e9e;
        text-decoration: underline;
      }
    }

    .transliteration_btn {
      margin-top: 5px;
    }
  }
}

.grid-three {
  .left {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .center {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .right {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .full {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

.grid-four {
  .left {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .right {
    grid-column-start: 5;
    grid-column-end: 8;
  }

  .leftHalfLeft {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .leftHalfRight {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .rightHalfLeft {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .rightHalfRight {
    grid-column-start: 7;
    grid-column-end: 8;
  }

  .full {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .threeFour {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .threeFourRight {
    grid-column-start: 3;
    grid-column-end: 8;
  }
}

.grid-six {
  .left {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .right {
    grid-column-start: 7;
    grid-column-end: 12;
  }

  .middle {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .leftLeft {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .leftMiddle {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .leftRight {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .leftRightRight {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .rightLeft {
    grid-column-start: 7;
    grid-column-end: 8;
  }

  .rightMiddle {
    grid-column-start: 9;
    grid-column-end: 10;
  }

  .rightRight {
    grid-column-start: 11;
    grid-column-end: 12;
  }

  .threeLeft {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .threeMiddle {
    grid-column-start: 5;
    grid-column-end: 8;
  }

  .threeRight {
    grid-column-start: 9;
    grid-column-end: 12;
  }

  .full {
    grid-column-start: 1;
    grid-column-end: 12;
  }

  .fiveSix {
    grid-column-start: 1;
    grid-column-end: 10;
  }

  .leftMiddleRight {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

.ant-input-number {
  width: 100%;
}